@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#loveturkey {
	text-shadow: -1px 2px rgba(0, 0, 0, 0.3);
}

#coords {
	text-shadow: -1px 1px rgba(0, 0, 0, 0.25);
}
